*{
  margin: 0;
  padding: 0;
}
body{
  background: rgb(248, 245, 245) ;
  font-family: Helvetica, Arial;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  display: flex;
}
.block{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 350px;
  height: 450px;
  background-color: #fff;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(51, 51, 51, 0.777);
}
.flex{
  display: flex;
  justify-content: center;
}
img{
  width: 250px;
}
.name{
  margin: 20px 0;
  font-size: 1.1em;
  font-weight: 500;
  text-transform: uppercase;
}
.range{
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.slider{
  width: 35%;
}
.range-value{
  width: 35%;
  margin-left: 45px;    
  text-align: center;
  border-left: #e6e4e4 1px solid;
}
.form-group{
  display: flex;
  flex-direction: column; 
  justify-content: center;
}
label{
  text-transform: uppercase;
  font-size: 0.7rem;
  color: #222;
}
span{
  font-size: 1.5rem;
  font-weight: 600;
  color: #3c3b3b;
}